<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post" class="form-reg">
            <div>
                <label for="username"><strong>아이디:</strong></label>
                <input type="text" id="username" name="username" required autocomplete="off">
            </div>
            <div>
                <label for="password"><strong>비밀번호:</strong></label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="로그인">
            </div>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p><br>
        {% endif %}
        <form method="get" action="/">
            <button type="submit" class="home-button">돌아가기</button>
        </form>
    </div>
</body>
</html>