<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Register - Mini Stock</title>
</head>
<body>
    <div class="container">
        <h1>Register - Mini Stock</h1>
        <form method="post" action="/register" class="form-reg">
            <div>
                <label for="username"><strong>아이디:</strong></label>
                <input type="text" id="username" name="username" required autocomplete="off">
            </div>
            <div>
                <label for="password"><strong>비밀번호:</strong></label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="name"><strong>이름:</strong></label>
                <input type="text" id="name" name="name" required autocomplete="off">
            </div>
            <div>
                <label for="email"><strong>이메일:</strong></label>
                <input type="email" id="email" name="email" required autocomplete="off">
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p><br>
        {% endif %}
        <form method="get" action="/">
            <button type="submit" class="home-button">돌아가기</button>
        </form>
    </div>
</body>
</html>