<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Search</title>
</head>
<body>
    <h1>검색 페이지입니다.</h1>
    <form method='post' type="text" action="/search">
        <input type="text" size="50" name="search_text" placeholder="검색할 내용을 입력하세요." autocomplete="off">
        <input type="submit" value="검색">
    </form>

    <b>{{ search_text }}</b>
</body>
</html>
