<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Search</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>검색 페이지</h1>
    </header>
    <form method="post" action="/search" class="form-search">
      <input type="text" name="stock_title" placeholder="검색할 종목명을 입력하세요." autocomplete="off">
      <button type="submit">검색</button>
    </form>
    {% if data %}
    <table border="1">
      <tr>
        <th>종목명</th>
        <th>종목 코드</th>
        <th>현재가</th>
        <th>상세 정보</th>
        {% if username %}
        <th>구매</th>
        {% endif %}
      </tr>
      {% for stock in data %}
      <tr>
        <td>{{ stock.itmsNm }}</td>
        <td>{{ stock.code }}</td>
        <td>{{ stock.clpr }} 원</td>
        <td>
          <form method="post" action="/search/detail">
            <input type="hidden" name="code" value="{{ stock.code }}">
            <button type="submit">보기</button>
          </form>
        </td>
        {% if username %}
        <td>
          <form method="post" action="/buystock/{{ stock.itmsNm }}">
            <input type="hidden" name="price" value="{{ stock.clpr }}">
            <input type="text" name="buy_quantity" placeholder="수량">
            <button type="submit">구매</button>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <form method="get" action="/">
      <button type="submit" class="home-button">돌아가기</button>
    </form>
  </div>
</body>
</html>
